body {
    margin: 0;
    padding: 0;
}

.container {
    border: 1px solid;
    height: 150vh;
    background-image: url(./KakaoTalk_20200826_212551810.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position:  center center;
    position: relative;

}

form.box {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    text-align: center;
}
.search-engine-image {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -400px;
    margin-top: -400px;
}

form.box h1 {
    font-weight: normal;
}
form.box input {
    border: none;
}
form.box input[type=text] {
    background-color: #fff;
    width: 340px;
    padding: 10px;
    border-radius:25px 0 0 25px ;
}
form.box input[type=submit] {
    width: 130px;
    background-color:blueviolet;
    padding: 10px;
    border-radius: 0 25px 25px 0;
    color: white;
    margin-left: -6px;
}
.logo {
    position: absolute;
    top: 10px;
    left: 10px;

}

.planet-1 {
    position: absolute;
    bottom: 26%;
    right: 100px;
    margin-left: -125px;
    margin-top: -125px;
}

.planet-2 {
    position: absolute;
    bottom: 5px;
    right: 400px;
    margin-left: -125px;
    margin-top: -125px;
}

.planet-3 {
    position: absolute;
    bottom: 5px;
    right: 700px;
    margin-left: -125px;
    margin-top: -125px;
}

.planet-4 {
    position: absolute;
    bottom: 26%;
    right: 1000px;
    margin-left: -125px;
    margin-top: -125px;
}

.planet-5 {
    position: absolute;
    top: 26%;
    right: 100px;
    margin-left: -125px;
    margin-top: -125px;
}

.planet-6 {
    position: absolute;
    top: 5px;
    right: 400px;
    margin-left: -125px;
    margin-top: -125px;
}

.planet-7 {
    position: absolute;
    top: 5px;
    right: 700px;
    margin-left: -125px;
    margin-top: -125px;
}

.planet-8 {
    position: absolute;
    top: 26%;
    right: 1000px;
    margin-left: -125px;
    margin-top: -125px;
}


.container2 {
    border: 1px solid;
    height: 200vh;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQL02GW4Rk3y-nebOuGljKL2eSYuclahgAodQ&usqp=CAU);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;

}

.icon-ipad {
    position: absolute;
    top: 30%;
    left: 20%;
}

.icon-iphone {
    position: absolute;
    top: 30%;
    left: 40%;
}

.icon-macbook {
    position: absolute;
    top: 30%;
    left: 60%;
}

.icon-imac {
    position: absolute;
    top: 30%;
    left: 80%;
}
