body {
    margin: 0;
    padding: 0;
}

.container {
    border: 1px solid;
    height: 120vh;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position:  center center;
    position: relative;

}

form.box {
    width: 400px;
    position: absolute;
    top: 530px;
    left: 920px;
    transform: translate(-50%,-50%);
    color: #fff;
    text-align: center;
}
.search-engine-image {
    position: absolute;
    top: 580px;
    left: 1010px;
    margin-left: -450px;
    margin-top: -400px;
}

form.box h1 {
    font-weight: normal;
}
form.box input {
    border: none;
}
form.box input[type=text] {
    background-color: #fff;
    width: 290px;
    padding: 10px;
    border-radius:25px 0 0 25px ;
}
form.box input[type=submit] {
    width: 70px;
    background-color:dodgerblue;
    padding: 10px;
    border-radius: 0 25px 25px 0;
    color: white;
    margin-left: -6px;
}
.logo {
    position: absolute;
    top: 40px;
    left: 100px;

}

.planet-1 {
    position: absolute;
    bottom: 500px;
    right: 400px;
    margin-left: -125px;
    margin-top: -125px;
}


.planet-2 {
    position: absolute;
    bottom: 200px;
    right: 500px;
    margin-left: -125px;
    margin-top: -125px;
}

.planet-3 {
    position: absolute;
    bottom: 100px;
    right: 800px;
    margin-left: -125px;
    margin-top: -125px;
}

.planet-4 {
    position: absolute;
    bottom: 300px;
    left: 400px;
    margin-left: -125px;
    margin-top: -125px;
}

.planet-5 {
    position: absolute;
    top: 300px;
    right: 470px;
    margin-left: -125px;
    margin-top: -125px;
}

.planet-6 {
    position: absolute;
    top: 100px;
    right: 750px;
    margin-left: -125px;
    margin-top: -125px;
}

.planet-7 {
    position: absolute;
    top: 150px;
    left: 700px;
    margin-left: -125px;
    margin-top: -125px;
}

.planet-8 {
    position: absolute;
    top: 370px;
    left: 420px;
    margin-left: -125px;
    margin-top: -125px;
}

.planet-9 {
    position: absolute;
    bottom: 100px;
    left: 450px;
}


.container2 {
    border: 1px solid;
    height: 200vh;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;

}

.icon-ipad {
    position: absolute;
    top: 30%;
    left: 20%;
}

.icon-iphone {
    position: absolute;
    top: 30%;
    left: 40%;
}

.icon-macbook {
    position: absolute;
    top: 30%;
    left: 60%;
}

.icon-imac {
    position: absolute;
    top: 30%;
    left: 80%;
}

